<ion-content class="ionic-content">
  <div class="page-wrapper">
    <div class="login-wrapper">

      
      <ion-img class="college-logo" src="../assets/CSI.png"></ion-img>
      <div class="uniforum-logo-wrapper">
        <ion-thumbnail item-start> <ion-img class="uniforum-logo" src="../assets/graduation-hat.png"></ion-img></ion-thumbnail>
        <ion-text>UniForum</ion-text>
      </div>
        
      
      <ion-item class="email-input">
        <ion-label position="floating" class="login-label">Email Address</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item class="password-input">
        <ion-label position="floating" class="login-label">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <div class="login-btns-wrapper">
        <ion-button [routerLink]="" class="login-btn sign-in-btn">Sign In</ion-button>

        <ion-text>Don't have an account? Sign up!</ion-text>
        <ion-button class="login-btn sign-up-btn">Sign Up</ion-button>
      </div>

    </div>
  </div>
  
  

</ion-content>
