<ion-header #header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-icon name="school" color="primary" size="large"></ion-icon>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="people-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="segment" mode="md" #segmentcontrol>
  <ion-segment-button value="home">
    <ion-label>Home</ion-label>
  </ion-segment-button>
  <ion-segment-button value="content">
    <ion-label>cr-content-suggest</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <div [hidden]="segment !== 'home'">
    <!-- Stoy section at the top -->
    <ion-slides [options]="opts">
      <ion-slide *ngFor="let post of posts">
        <ion-avatar>
          <img [src]="post.img">
        </ion-avatar>
      </ion-slide>
    </ion-slides>

    <!-- List of Tweets -->
    <app-post *ngFor="let post of posts" [post] = "post"></app-post>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div [hidden]="segment !== 'content'">
    Other content
  </div>
</ion-content>
